header {
    width: 100%;
    display: flex;
    justify-content: space-between;

    ul {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
    }
    ul li:not(:last-child) {
        margin-left: 15px;
    }

    @include sp {
        display: none;
    }
}



